{% extends "base.html" %}

{% block announce %}
    For updates follow me on
    <a href="https://twitter.com/FabianGebhart">
        <span class="twemoji">
            {% include ".icons/fontawesome/brands/twitter.svg" %}
        </span>
        <strong>Twitter</strong>
    </a>
    or
    <a href="https://fosstodon.org/@fgebhart">
        <span class="twemoji">
            {% include ".icons/fontawesome/brands/mastodon.svg" %}
        </span>
        <strong>Mastodon</strong>
    </a>
{% endblock %}

{% block extrahead %}
    <link href="https://fosstodon.org/@fgebhart" rel="me" />
{% endblock %}
